# Production OpenSearch OAuth Credentials
OPENSEARCH_OAUTH_TOKEN=
OPENSEARCH_OAUTH_NAME=
OPENSEARCH_OAUTH_PASSWORD=
OPENSEARCH_OAUTH_CLIENT_ID=
OPENSEARCH_OAUTH_CLIENT_SECRET=
OPENSEARCH_OAUTH_SCOPE=
OPENSEARCH_OAUTH_BEARER_TOKEN_URL=
OPENSEARCH_OAUTH_TOKEN_URL=

# Integration OpenSearch OAuth Credentials
OPENSEARCH_OAUTH_TOKEN_INT=
OPENSEARCH_OAUTH_NAME_INT=
OPENSEARCH_OAUTH_PASSWORD_INT=
OPENSEARCH_OAUTH_CLIENT_ID_INT=
OPENSEARCH_OAUTH_CLIENT_SECRET_INT=
OPENSEARCH_OAUTH_SCOPE_INT=
OPENSEARCH_OAUTH_BEARER_TOKEN_URL_INT=
OPENSEARCH_OAUTH_TOKEN_URL_INT=

# Azure OpenAI (LLM proxy)
AZURE_OPENAI_ENDPOINT=
AZURE_API_VERSION=
AZURE_OPENAI_API_KEY=

# LLM Proxy OAuth Configuration (Machine Account)
LLM_OAUTH_IDENTITY_BROKER_URL=
LLM_OAUTH_ENVIRONMENT=
LLM_OAUTH_ORG_ID=
LLM_OAUTH_MACHINE_ACCOUNT_NAME=
LLM_OAUTH_MACHINE_ACCOUNT_UUID=
LLM_OAUTH_MACHINE_ACCOUNT_PASSWORD=
LLM_OAUTH_CLIENT_ID=
LLM_OAUTH_CLIENT_SECRET=
LLM_OAUTH_SCOPE=
